
body {
  font-family: Inter, sans-serif;
  background-color: #f9f9f9;
  color: #010101;
}

.example {
  font-size: .8rem;
  font-style:italic;
  padding: .5rem;
  background-color: #f1f1f1;
  text-align:justify;
}

summary {
  user-select: none;
  font-weight: 500;
  margin: 0;
  font-size: 2rem;
  cursor: pointer;
}